<p id="notice"><%= notice %></p>

  <thead>
  </thead>

  <tbody>
    <div class="row" style="margin-top:2em;padding:2em;background-color: rgba(250, 237, 237, 0.9);border-radius:30px 30px 30px 30px;height:auto;">
      <h1 style="margin: 50px;">Jeux</h1>
    <% @playlists.where(category:"jeux").each do |playlist| %>
      <div class="col-sm-3">
        <div id="bordure" class="card" style="width: 18rem; border-color:green;background-color:#b8e6b8">
          <div class="card-body">
            <h5 class="card-title"><%= playlist.title %></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"style="color:green;background-color:#b8e6b8"><%= playlist.category %></li>
            <li class="list-group-item"style="background-color:#b8e6b8"><a href=<%= playlist.link %> class="card-link">Lien</a></li>
            <li class="list-group-item"style="background-color:#b8e6b8"><%= link_to 'Supprimer', playlist, method: :delete, data: { confirm: 'Êtes-vous sûr(e)?' } %></li>
          </ul>
        </div>
      </div>
    <% end %>
    </div>
  </tbody>

<br>
