<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @playlist.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @playlist.link %>
</p>

<p>
  <strong>Category:</strong>
  <%= @playlist.category %>
</p>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
